.buton{
    border: none;
}

.heroimage{
    width: 500px;
    height: 400px;
}
.consulation{
    border: none;
background-color: black;
color: white;
padding: 10px;
border-radius: 10px;
}

.services{
 background-color: #B9FF66;
 padding: 3px;
 border-radius: 10px;
}

.custom-card{
    border-radius: 20px;
    width: 360px;
    overflow: hidden;
    box-shadow: 0 6px 8px rgb(0, 0, 0);
}

.back-color{
    background-color: #B9FF66;
    height: 50px;
}

.background{
    background-color: #B9FF66;
    width: 355px;
    
}

.background-color{
    background-color: white;
    height: 50px;
}
  .arrow{
height: 30px;
  }